a {
  color: rgb(197, 102, 0);
  text-decoration: none;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

a:hover {
  color: #eaf6f6;
}

body {
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
  color: rgb(215, 215, 215);
  background-color: #1e1e1e;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
  width: 13%;
}

.bottom-container {
  background-color: rgb(255, 148, 34);
  padding: 50px 0 20px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 132, 0);
  font-size: 20px;
  background: #1e1e1e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid 2px;
  border-color: rgb(197, 102, 0);
  transition-duration: 0.25s;
}

.btn:hover {
  background: rgb(255, 132, 0);
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.5s;
}

.coding-image {
  width: 20%;
  height: auto;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 70%;
  margin: auto;
  line-height: 2;
}

.cooking-image {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 30px;
}

.copyright {
  color: white;
  padding: 20px 0px;
  font-size: 0.75rem;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: rgb(255, 132, 0);
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  color: rgb(197, 102, 0);
}

hr {
  border-width: 10px;
  border-style: dotted none none;
  height: 0px;
  width: 10%;
  border-color: #3d3d3d;
}

.middle-container {
  padding: 10px 0px 75px 0px;
}

.mountain {
  width: 55%;
  height: auto;
}

.parallax {
  background-image: url("../images/iluvcoding.png");
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile {
  width: 70%;
  margin: 50px auto;
  line-height: 2;
}

.skills {
  position: relative;
}

.skill-row {
  width: 70%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}

.spanin {
  color: rgb(255, 132, 0);
}

.top-container {
  background-color: #ffffff;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 17%;
}
